@page
@model RobertGuzikRazorPagesv4.Pages.Animals.CreateModel
@{
}
<h1>Add animal</h1>
<hr/>
<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">
			@*@<form method="post">*@
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>

				<div class="form-group">
					<label asp-for="animal.Name" class="control-label"></label>
					<input asp-for ="animal.Name" class="form-control"/>
					<span asp-validation-for="animal.Name" class="text-danger"></span>
				</div>
				<div action="form-group">
					<label asp-for="animal.BirthDate" class="control-label"></label>
				<input asp-for="animal.BirthDate" class="form-control" />
				<span asp-validation-for="animal.BirthDate" class="text-danger"></span>
				</div>
				<div class="form-group">
					<input type="submit" value="Create" class="btn btn-sm btn-primary"/>
					<a class="btn btnsmall btn-success" asp-area="" asp-page="Index">Back to list</a>
				</div>
				







		</form>
	</div>
</div>
@section Scripts {
	@{
		await Html.RenderPartialAsync("_AlertScriptsPartial");
	}

}